.container {
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 8rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
    width: 50rem;
    padding: 0.8rem 1.6rem;
}

.link-home {
    text-decoration: none;
}

.slogan {
    color: #ffd700;
    font-size: 2.2rem;
    margin-top: 2.4rem;
}

.slogan-highlight {
    color: var(--accent1-color);
}

.box-contain-btn {
    width: 64%;
    display: flex;
    justify-content: space-evenly;
}

.btn-custom {
    border: none;
    margin-top: 4rem;
    font-size: 2.2rem;
    padding: 4px 10px;
    border-radius: 8px;

    &:hover {
        background-color: #d58f16;
    }
}

.about-section {
    margin-left: -5rem;
    margin-right: -6rem;
    margin-top: 10rem;
    padding: 7rem 7rem;
    background-color: var(--text-color);
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section__heading {
    margin-bottom: 4.8rem;
    font-size: 3.6rem;
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold;
}

.about-section__content {
    width: 70%;
    font-size: 2.4rem;
    text-align: center;
}

.notiable-features {
    margin: 6rem 7rem;
    padding: 8rem 7rem;
    border-bottom: 1px solid;

    & h3 {
        font-size: 4.8rem;
        text-align: center;
        margin-bottom: 4.8rem;
        color: var(--accent1-color);
    }
}

.notiable-features__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notiable-features__icons {
    font-size: 2.8rem;
    margin-right: 3rem;
    margin-left: 5rem;
    color: var(--secondary-color);
}

.notiable-features__content {
    font-size: 3rem;
}

.lessons-information {
    margin-top: -4rem;
    margin-bottom: 6rem;
    padding: 5rem;
}

.lessons-information__container {
    text-align: center;
}

.lessons-information__head {
    font-size: 3.6rem;
    margin-bottom: 4rem;
    color: var(--accent1-color);
}

.lessons-information__item {
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.lessons-information__heading {
    font-size: 4.4rem;
    padding: 0.4rem 2.4rem;
    padding-right: 3.6rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;

        width: 0;
        height: 0;

        border-top: 3.7rem solid transparent; // nửa trên trong suốt
        border-bottom: 3.7rem solid transparent; // nửa dưới trong suốt
        border-right: 2.5rem solid var(--text-color);
    }
}

.lessons-information__item-container {
    text-align: left;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 0.6rem 2rem;
    width: 100%;
}

.lessons-information__title {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Nunito', sans-serif !important;
}

.lessons-information__desc {
}

.cta-section {
    margin-top: 3rem;
    text-align: center;
}

.cta-section__slogan {
    margin-bottom: 5rem;
}

.cta-section__call {
    font-size: 3.2rem;
    color: var(--text-color);
    margin-bottom: 1.6rem;
}

.cta-section__btn {
    font-size: 2.4rem;
    text-decoration: none;
    background-color: var(--accent2-color);
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    padding: 0.8rem 1rem;
    border-radius: 0.8rem;

    &:hover {
        background-color: #d58f16;
    }
}
